/* header section */
.header {
    background-color: #f8f8f8;
    text-align: center;
    padding: 20px;
}

/* top navigation bar */
.top_bar {
    background-color: rgb(219, 219, 219);
    justify-items: left;
    padding: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.top_bar a {
    color: #f2f2f2;
    background-color: rgb(71, 71, 71);
    text-decoration: none;
    padding: 14px 16px;
    display: inline-flex;
    flex-direction: row;
}

/* main section */
main {
    display: flex;
    gap: 20px;
    margin: 10px;
}
.language {
    text-align: center;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    border: 1px solid rgb(36, 36, 36);
    box-shadow: 2px 2px 5px rgb(73, 73, 73);
}

.language p {
    text-align: center;
}

/* footer section */
footer {
    display: flex;
    background-color: rgb(70, 70, 70);
}
.sectionone {
    color: #f2f2f2;
    width: 50%;
    padding: 20px;
}

.sectionone h3 {
    color: tomato;
}

.sectiontwo {
    width: 50%;
    color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
} 

.sectiontwo_div {
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}

.sectiontwo_div img {
    margin-top: 12px;
}

/* mobile size */

@media screen and (max-width: 576px) {
    main {
        flex-direction: column;
    }
    footer {
        flex-direction: column;
        width: fit-content;
        border: 3px solid red;
    }
    .sectionone {
        /* width: 100%; */
        width: fit-content;
    }
    .sectionone p {
        width: 100%;
    }
    .sectiontwo {
        width: 90%;
        display: flex;
        gap: 5px;
        align-self: center;
    }
}